@import "utils.scss";
@import "nav.scss";
        h1 {
          font-family: title;
          font-weight: 500;
          margin-bottom: 2rem;
        }
.banner-home{
    background-image: url(../images/load_board_webpage_image_header_v2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
height: 25vw;
display: flex;
    justify-content: center; /* Center horizontally */
}
.overlay {
    position: absolute;
    margin-top: 12rem;
    width: 53rem;
    height: 4vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 0.5rem;
    left: 50%; /* Move it to the middle of the .banner-home */
    transform: translateX(-50%); /* Adjust horizontally to center */
}
.button-container {
    display: flex; /* Make it a flex container */
}

.button {
    background-color: #0dd60d;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    width: 10rem;
    height: 3rem;
    margin-top: .5rem;
    margin-left: .5rem;
    font-family: kanit;
    transition: 0.3s;
    &:hover{
        background-color: #13b413;
        transition: 0.3s;
    }
}
.inputy {
    background-color: #e4e4e4;
    text-align: center;
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    width: 10rem;
    height: 3rem;
    margin-top: .5rem;
    margin-left: .5rem;
    font-family: kanit;
}
#date{
    color: rgb(110, 110, 110);
}

.home-about{
    margin-top: 2vw;
    width: 100%;
    text-align: center;
    h1{
        font-family: title;
        font-weight: 500;
        margin-bottom: 2rem;
    }
}

.container {
    display: flex;
    
  .left {
    flex: 1;
    padding: 20px;
  }

  .right {
    flex: 1;
    padding: 20px;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 75rem;
  }

  .box {
    width: 20rem;
    text-align: left;
    height: 15rem;
    margin: 0rem 2rem 0rem 2rem;
    border-radius: 0.5rem;
    img{
      height: 5rem;
      width: 5rem;
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
    background: $primary;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
}
.work-container{
  background-color: #f3f3f3;
  display: flex;
    justify-content: center;
}
.work-section{
  margin-top: 1rem;
  font-weight: 400;
  width: 75rem;
  height: 20rem;
  text-align: center;
  button{
    margin-top: 1rem;
    background-color: #f3f3f3;
    color: #0dd60d;
    border: 3px solid #0dd60d;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    font-family: kanit;
    transition: 0.3s;
    &:hover{
      background-color: #0dd60d;
      color: #ffffff;
      font-weight: 500;
      transition: 0.3s;
    }
  }
  span{
    color: #0dd60d;
    font-weight: 500;
  }
}

.center {
  margin-top: 3rem;
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  grid-gap: 1rem;
  overflow: hidden;
  width: 62.6rem;
  overflow: hidden;

  >.inner {
    display: flex;
    grid-gap: 1rem;
    transition: all 1s ease-in-out;
  }
}

.card {
  background-color: transparent;
  border: none;
  >.img {
    display: block;
    width: 17.5em;
  }

  >.content {
    border-radius: 0.5rem;
    width: 20rem;
    border: 1px solid rgb(99, 99, 99);
    // background: #282828;
    height: 10rem;
    padding: 1rem;
    text-align: center;

    >h1 {
      margin: 0.35em 0;
      color: rgb(36, 36, 36);
      font-size: 1.25rem;
      line-height: 1;
    }

    >h3 {
      margin: 0.35em 0;
      color: rgb(21, 21, 21);
      font-size: .9rem;
      font-weight: 300;
    }
    // >h4{
    //   color: rgb(61, 61, 61);
    //     font-size: 0.7rem;
    //     font-weight: 300;
    //     align-self: flex-end;
    // }
  }
}
.map {
  margin-top: 1em;

  >button {
    all: unset;
    background: #545454;
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    user-select: none;
    border-radius: 100%;
    height: .7rem;
    width: .7rem;
  }

  // >button.active {
  //   &:after {
  //     background: #333333;
  //     content: "";
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     top: 50%;
  //     border-radius: 100%;
  //     height: 0.5em;
  //     width: 0.5em;
  //   }
  // }
}
i{
}