@import "utils.scss";
.banner-home{
    background-image: url(../images/load_board_webpage_image_header_v2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
height: 25vw;
display: flex;
    justify-content: center; /* Center horizontally */
}
.overlay {
    position: absolute;
    margin-top: 15vw;
    width: 60vw;
    height: 4vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 0.5rem;
    left: 50%; /* Move it to the middle of the .banner-home */
    transform: translateX(-50%); /* Adjust horizontally to center */
}
.button-container {
    display: flex; /* Make it a flex container */
}

.button {
    background-color: #0fa93a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 10vw;
    height: 3vw;
    margin-top: .5vw;
    margin-left: .5vw;
    font-family: kanit;
}





