@import "utils.scss";
.nav-top{
    background-color: $tertiary;
    z-index: 11;
    color: $primary;
    display: flex;
    font-family: kanit;
    font-weight: 400;
    width: 100%;
    height: 2vw;
    top: 0;
    text-align: center;
    p{
        text-align: center;
        font-size: 18px;

        margin-left: 1vw;
    }
    marquee{
        width: 83%;
        font-size: 18px;
    }
}
.nav{
    background-color: $primary;
    font-family: nav;
    z-index: 10;
    width: 100%;
    top: 0;
    position: sticky;
    height: 5vw;
    text-align: center;
    overflow: hidden;
    position: sticky;
    button{
        font-family: navbold;
        background-color: $primary;
        border: none;
        color: $background;
        text-decoration: none;
        float: left;
        width: 6vw;
        height: 3vw;
        margin: 1vw 1vw 0 0;
        font-size: 1vw;
        transition: .1s;
        margin-bottom: 5vw;
        &:hover{
            font-weight: bolder;
            font-size: 17px;
            transition: .1s;
            color: $tertiary;
            text-decoration: underline;
        }
    }
    #phone{
        float: right;
        font-size: 1.5vw;
        color: $tertiary;
        opacity: 0;
        width: 15vw;
        font-family: kanit;
        font-weight: 400;
        &:hover{
            color: $background;
        }
    }
    .logo {
        float: left;
        width: 14vw;
        height: 4vw;
        margin: .5vw 0 0 1vw;
        background-image: url("../images/Capture.png");
        background-position: center;
        background-size: cover;
    }
}