@import "utils.scss";
body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0px 0px 2px rgb(88, 88, 88);
}

.logo img {
    height: 3rem;
    margin-left: 1rem;
    /* Adjust the height of the logo as needed */
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 1rem;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    font-family: tommy;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
}
#active{
    color: #04c211;
    }
.nav-links a:hover {
    color: #04c211;
    /* Change color on hover */
}

.testi {
    position: absolute;
    top: 0;
    right: 0;
}