* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 20;
}

nav ul {
  margin-bottom: 0;
  height: 4rem;
  background-color: #ffffff;
  overflow-y: visible;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul a {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: tommy;
  font-size: 1rem;
  color: black;
  text-align: center;
  transition: background 0.25s, box-shadow 0.15s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#active {
  color: #1cb629;
}

#active:hover {
  color: white;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: tommy;
}

nav ul a:hover {
  color: #ffffff;
  background-color: #1cb629;
}

.logo img {
  position: absolute;
  width: 16rem;
  height: 3rem;
  top: 0.5rem;
  left: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 20;
}

nav ul {
  margin-bottom: 0;
  height: 4rem;
  background-color: #ffffff;
  overflow-y: visible;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul a {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: tommy;
  font-size: 1rem;
  color: black;
  text-align: center;
  transition: background 0.25s, box-shadow 0.15s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#active {
  color: #1cb629;
}

#active:hover {
  color: white;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: tommy;
}

nav ul a:hover {
  color: #ffffff;
  background-color: #1cb629;
}

.logo img {
  position: absolute;
  width: 16rem;
  height: 3rem;
  top: 0.5rem;
  left: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

footer {
  background-color: #000000;
  height: 23rem;
  color: #fff;
  font-family: tommy;
  bottom: 0;
  position: relative;
}
footer img {
  margin-top: 2rem;
  margin-left: 8rem;
  width: 13rem;
  height: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer .col-container {
  margin-left: 3rem;
  margin-top: 2rem;
}

.column {
  width: 16rem;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.column h4 {
  font-weight: 800;
  font-size: 1.3rem;
}
.column p {
  margin-bottom: 0.5rem;
  color: rgb(240, 240, 240);
  font-size: 0.9rem;
  cursor: pointer;
}
.column p:hover {
  text-decoration: underline;
}
.column i {
  margin-right: 0.5rem;
}

.foot-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-container .bottom-box {
  margin-top: 2rem;
  width: 79rem;
  height: 3rem;
  border-top: 2px solid rgb(224, 224, 224);
}
.foot-container .bottom-box .foot-extra {
  text-align: center;
}
.foot-container .bottom-box h1 {
  margin-top: 1rem;
  font-size: 0.7rem;
}
.foot-container .bottom-box h1 span {
  text-decoration: underline;
}

h1 {
  font-family: title;
  font-weight: 500;
  margin-bottom: 2rem;
}

.banner-home {
  background-image: url(../images/load_board_webpage_image_header_v2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 27.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#date {
  color: rgb(110, 110, 110);
}

.home-about {
  margin-top: 2vw;
  width: 100%;
  text-align: center;
}
.home-about h1 {
  font-family: tommy;
  font-size: 3em;
  margin-bottom: 2rem;
}

.container {
  display: flex;
}
.container .left {
  flex: 1;
  padding: 20px;
}
.container .right {
  flex: 1;
  padding: 20px;
}
.container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.container ul {
  list-style-type: none;
  padding: 0;
}
.container li {
  margin-bottom: 5px;
}
.container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 75rem;
}

.box {
  width: 20rem;
  text-align: left;
  height: 15rem;
  margin: 0rem 2rem 0rem 2rem;
  border-radius: 0.5rem;
}
.box img {
  height: 5rem;
  width: 5rem;
}

::-webkit-scrollbar {
  width: 5px;
  background: rgb(232, 232, 232);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

.work-container {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.work-section {
  margin-top: 1rem;
  font-weight: 400;
  padding: 2rem 0 2rem 0;
  width: 75rem;
  height: auto;
  text-align: center;
}
.work-section button {
  margin-top: 1rem;
  background-color: #f3f3f3;
  color: #0dd60d;
  border: 3px solid #0dd60d;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  font-family: kanit;
  transition: 0.3s;
}
.work-section button:hover {
  background-color: #0dd60d;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s;
}
.work-section h1 {
  padding: 0;
  margin-top: 0;
}
.work-section p {
  font-family: tommy;
  font-size: 1rem;
}
.work-section span {
  color: #0dd60d;
  font-weight: 600;
}

.center {
  margin-top: 3rem;
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.center h1 {
  font-family: tommy;
  font-size: 3em;
}

.wrapper {
  display: flex;
  grid-gap: 1rem;
  overflow: hidden;
  width: 63rem;
}
.wrapper > .inner {
  display: flex;
  grid-gap: 1rem;
  transition: all 1s ease-in-out;
}

.card {
  background-color: transparent;
  border: none;
}
.card > .img {
  display: block;
  width: 17.5em;
}
.card > .content {
  border-radius: 0.5rem;
  width: 20rem;
  border: 1px solid rgb(99, 99, 99);
  height: 10rem;
  padding: 1rem;
  text-align: center;
}
.card > .content i {
  color: #0dd60d;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.card > .content > h1 {
  margin: 0.35em 0;
  color: rgb(36, 36, 36);
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 900;
}
.card > .content > h3 {
  margin: 0.35em 0;
  color: rgb(21, 21, 21);
  font-size: 0.8rem;
  font-weight: 300;
}

.map {
  margin-top: 1em;
}
.map > button {
  all: unset;
  background: #545454;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  user-select: none;
  border-radius: 100%;
  height: 0.7rem;
  width: 0.7rem;
}

.trusted {
  width: 100%;
  text-align: center;
}
.trusted h1 {
  font-family: tommy;
  font-size: 3em;
}

.comp-wrap {
  width: 100%;
}
.comp-wrap img {
  width: 80%;
  margin-bottom: 10rem;
}

.both-banners {
  width: 100%;
  font-family: tommy;
}
.both-banners .ban-container {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.both-banners .ban-container .text-container-right {
  width: 36rem;
  margin-left: 5rem;
  text-align: left;
}
.both-banners .ban-container .text-container-right h1 {
  font-weight: 600;
  margin-left: 4.5rem;
}
.both-banners .ban-container .text-container-right p {
  width: 30rem;
  margin-left: 5rem;
}
.both-banners .ban-container .text-container-right span {
  color: #0dd60d;
  font-weight: 600;
}
.both-banners .ban-container .text-container {
  width: 35rem;
  margin-right: 5rem;
  text-align: left;
}
.both-banners .ban-container .text-container h1 {
  font-weight: 600;
}
.both-banners .ban-container .text-container p {
  width: 30rem;
}
.both-banners .ban-container .text-container span {
  color: #0dd60d;
  font-weight: 600;
}
.both-banners img {
  height: 20rem;
  width: 30rem;
  margin: 1rem 0rem 1rem 1rem;
  object-fit: cover;
  border-radius: 0.2rem;
  box-shadow: 13px 13px 0px rgb(83, 162, 81);
}
.both-banners .other-img {
  margin: 1rem 1rem 1rem 0rem;
  box-shadow: -13px 13px 0px rgb(83, 162, 81);
}

.test-hr {
  width: 90%;
  margin-left: 5%;
  border-top: 2px solid #939393;
  height: 1rem;
  margin-top: 2rem;
}

.quote-form {
  box-shadow: 0 0 10px black;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  background-color: #f4f4f4;
  width: 27.5rem;
  border-radius: 0.5rem;
}
.quote-form .titles {
  width: 25rem;
  text-align: left;
  margin: 0;
}
.quote-form h1 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  margin: 1rem 0 0 0;
}
.quote-form h2 {
  font-size: 1rem;
  text-align: left;
  font-weight: 600;
  font-family: tommy;
  margin: 0 0 0 0;
}
.quote-form button {
  background-color: #18ba18;
  border: none;
  width: 25rem;
  height: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  font-family: tommy;
}
.quote-form button :hover {
  background-color: #159715;
}
.quote-form span {
  color: #0dd60d;
}
.quote-form input {
  background-color: #ffffff;
  margin-bottom: 0.2rem;
  border: none;
  box-shadow: 0 0 5px rgba(210, 210, 210, 0.449);
  width: 25rem;
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: tommy;
  height: 4rem;
}
.quote-form input:focus {
  border: 1px solid #20a920;
}
.quote-form .transports {
  margin: 1rem 0 1rem 0;
}

.reliable {
  width: 50rem;
  height: 5rem;
  position: absolute;
}
.reliable h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 5rem;
  font-family: tommy;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgb(18, 18, 18);
  font-weight: 700;
}
.reliable h2 {
  margin-top: 0;
  margin-left: 5rem;
  color: #efefef;
  font-size: 1.5rem;
  font-family: tommy;
  font-weight: 700;
  text-shadow: 0px 0px 5px black;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 20;
}

nav ul {
  margin-bottom: 0;
  height: 4rem;
  background-color: #ffffff;
  overflow-y: visible;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul a {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: tommy;
  font-size: 1rem;
  color: black;
  text-align: center;
  transition: background 0.25s, box-shadow 0.15s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#active {
  color: #1cb629;
}

#active:hover {
  color: white;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: tommy;
}

nav ul a:hover {
  color: #ffffff;
  background-color: #1cb629;
}

.logo img {
  position: absolute;
  width: 16rem;
  height: 3rem;
  top: 0.5rem;
  left: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

footer {
  background-color: #000000;
  height: 23rem;
  color: #fff;
  font-family: tommy;
  bottom: 0;
  position: relative;
}
footer img {
  margin-top: 2rem;
  margin-left: 8rem;
  width: 13rem;
  height: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer .col-container {
  margin-left: 3rem;
  margin-top: 2rem;
}

.column {
  width: 16rem;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.column h4 {
  font-weight: 800;
  font-size: 1.3rem;
}
.column p {
  margin-bottom: 0.5rem;
  color: rgb(240, 240, 240);
  font-size: 0.9rem;
  cursor: pointer;
}
.column p:hover {
  text-decoration: underline;
}
.column i {
  margin-right: 0.5rem;
}

.foot-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-container .bottom-box {
  margin-top: 2rem;
  width: 79rem;
  height: 3rem;
  border-top: 2px solid rgb(224, 224, 224);
}
.foot-container .bottom-box .foot-extra {
  text-align: center;
}
.foot-container .bottom-box h1 {
  margin-top: 1rem;
  font-size: 0.7rem;
}
.foot-container .bottom-box h1 span {
  text-decoration: underline;
}

.ab {
  width: 30rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.txt {
  font-family: kanit;
  border-radius: 0.5rem;
  width: 30rem;
}

.form {
  position: absolute;
  margin-left: 15vw;
  text-align: left;
  width: 40vw;
}
.form button {
  margin-top: 2vw;
  font-family: kanit;
  width: 10vw;
  height: 3vw;
  border-radius: 0.5rem;
  margin-bottom: 5vw;
  transition: 0.1s;
}
.form button:hover {
  background-color: #004aad;
  color: rgb(232, 232, 232);
  transition: 0.1s;
  border: #004aad;
}

.txt_ {
  font-size: 1.2rem;
  font-family: kanit;
}

.wdth1 {
  margin-left: 25%;
  width: 50%;
}

.banner {
  height: 20vw;
  width: 100%;
  background-image: url(../images/photo-1541746972996-4e0b0f43e02a.avif);
  background-position: center;
  background-size: cover;
  padding-left: 15vw;
}
.banner p {
  font-size: 3.5vw;
  padding-top: 3vw;
  color: rgb(232, 232, 232);
  font-family: navbold;
  margin-bottom: 0;
}
.banner h6 {
  font-size: 1vw;
  color: rgb(232, 232, 232);
  font-family: navbold;
}

.why-apply {
  height: 12vw;
  width: 100%;
  background-color: rgb(243, 243, 243);
  margin-bottom: 5vw;
}
.why-apply p {
  font-size: 2vw;
  padding-top: 3vw;
  color: rgb(14, 14, 14);
  padding: 1vw 0 0 15vw;
  font-family: navbold;
}
.why-apply h6 {
  font-size: 1vw;
  color: rgb(14, 14, 14);
  padding: 0 15vw 0 15vw;
  font-family: nav;
}

.form {
  border: 0.5vw solid black;
  width: 50vw;
  height: 65vw;
  margin-left: 26vw;
  border-radius: 3vw;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 20;
}

nav ul {
  margin-bottom: 0;
  height: 4rem;
  background-color: #ffffff;
  overflow-y: visible;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul a {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: tommy;
  font-size: 1rem;
  color: black;
  text-align: center;
  transition: background 0.25s, box-shadow 0.15s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#active {
  color: #1cb629;
}

#active:hover {
  color: white;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: tommy;
}

nav ul a:hover {
  color: #ffffff;
  background-color: #1cb629;
}

.logo img {
  position: absolute;
  width: 16rem;
  height: 3rem;
  top: 0.5rem;
  left: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

footer {
  background-color: #000000;
  height: 23rem;
  color: #fff;
  font-family: tommy;
  bottom: 0;
  position: relative;
}
footer img {
  margin-top: 2rem;
  margin-left: 8rem;
  width: 13rem;
  height: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer .col-container {
  margin-left: 3rem;
  margin-top: 2rem;
}

.column {
  width: 16rem;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.column h4 {
  font-weight: 800;
  font-size: 1.3rem;
}
.column p {
  margin-bottom: 0.5rem;
  color: rgb(240, 240, 240);
  font-size: 0.9rem;
  cursor: pointer;
}
.column p:hover {
  text-decoration: underline;
}
.column i {
  margin-right: 0.5rem;
}

.foot-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-container .bottom-box {
  margin-top: 2rem;
  width: 79rem;
  height: 3rem;
  border-top: 2px solid rgb(224, 224, 224);
}
.foot-container .bottom-box .foot-extra {
  text-align: center;
}
.foot-container .bottom-box h1 {
  margin-top: 1rem;
  font-size: 0.7rem;
}
.foot-container .bottom-box h1 span {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 20;
}

nav ul {
  margin-bottom: 0;
  height: 4rem;
  background-color: #ffffff;
  overflow-y: visible;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul a {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: tommy;
  font-size: 1rem;
  color: black;
  text-align: center;
  transition: background 0.25s, box-shadow 0.15s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#active {
  color: #1cb629;
}

#active:hover {
  color: white;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: tommy;
}

nav ul a:hover {
  color: #ffffff;
  background-color: #1cb629;
}

.logo img {
  position: absolute;
  width: 16rem;
  height: 3rem;
  top: 0.5rem;
  left: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: tommy;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: foot;
  src: url(../fonts/Agbalumo-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
  /* COLORS  */
  /* primary */
  --primary-200: #E3F2FD ;
  --primary-300: #BBDEFB ;
  --primary-400: #90CAF9 ;
  /* main */
  --primary-500: #64B5F6;
  --primary-600: #42A5F5;
  --primary-700: #2196F3;
  --primary-800: #1E88E5 ;
  --primary-900: #1976D2 ;
  --primary-1000: #1565C0;
  --primary-1100: #0D47A1 ;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;
  --grey-1200: #000000;
}

footer {
  background-color: #000000;
  height: 23rem;
  color: #fff;
  font-family: tommy;
  bottom: 0;
  position: relative;
}
footer img {
  margin-top: 2rem;
  margin-left: 8rem;
  width: 13rem;
  height: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer .col-container {
  margin-left: 3rem;
  margin-top: 2rem;
}

.column {
  width: 16rem;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.column h4 {
  font-weight: 800;
  font-size: 1.3rem;
}
.column p {
  margin-bottom: 0.5rem;
  color: rgb(240, 240, 240);
  font-size: 0.9rem;
  cursor: pointer;
}
.column p:hover {
  text-decoration: underline;
}
.column i {
  margin-right: 0.5rem;
}

.foot-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-container .bottom-box {
  margin-top: 2rem;
  width: 79rem;
  height: 3rem;
  border-top: 2px solid rgb(224, 224, 224);
}
.foot-container .bottom-box .foot-extra {
  text-align: center;
}
.foot-container .bottom-box h1 {
  margin-top: 1rem;
  font-size: 0.7rem;
}
.foot-container .bottom-box h1 span {
  text-decoration: underline;
}

.reliable {
  width: 50rem;
  height: 5rem;
  position: absolute;
}
.reliable h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 5rem;
  font-family: tommy;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgb(18, 18, 18);
  font-weight: 700;
}
.reliable h2 {
  margin-top: 0;
  margin-left: 5rem;
  color: #efefef;
  font-size: 1.5rem;
  font-family: tommy;
  font-weight: 700;
  text-shadow: 0px 0px 5px black;
}

.quote-form {
  box-shadow: 0 0 10px black;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  background-color: #f4f4f4;
  width: 27.5rem;
  border-radius: 0.5rem;
}
.quote-form .titles {
  width: 25rem;
  text-align: left;
  margin: 0;
}
.quote-form h1 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  margin: 1rem 0 0 0;
}
.quote-form h2 {
  font-size: 1rem;
  text-align: left;
  font-weight: 600;
  font-family: tommy;
  margin: 0 0 0 0;
}
.quote-form button {
  background-color: #18ba18;
  border: none;
  width: 25rem;
  height: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  font-family: tommy;
}
.quote-form button :hover {
  background-color: #159715;
}
.quote-form span {
  color: #0dd60d;
}
.quote-form input {
  background-color: #ffffff;
  margin-bottom: 0.2rem;
  border: none;
  box-shadow: 0 0 5px rgba(210, 210, 210, 0.449);
  width: 25rem;
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: tommy;
  height: 4rem;
}
.quote-form input:focus {
  border: 1px solid #20a920;
}
.quote-form .transports {
  margin: 1rem 0 1rem 0;
}

.banner-home {
  background-image: url(../images/load_board_webpage_image_header_v2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 27.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}/*# sourceMappingURL=styles.css.map */