* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
.nav-top {
  background-color: #004aad;
  z-index: 11;
  color: rgb(232, 232, 232);
  display: flex;
  font-family: kanit;
  font-weight: 400;
  width: 100%;
  height: 2vw;
  top: 0;
  text-align: center;
}
.nav-top p {
  text-align: center;
  font-size: 18px;
  margin-left: 1vw;
}
.nav-top marquee {
  width: 83%;
  font-size: 18px;
}

.nav {
  background-color: rgb(232, 232, 232);
  font-family: nav;
  z-index: 10;
  width: 100%;
  top: 0;
  position: sticky;
  height: 5vw;
  text-align: center;
  overflow: hidden;
  position: sticky;
}
.nav button {
  font-family: navbold;
  background-color: rgb(232, 232, 232);
  border: none;
  color: #120a02;
  text-decoration: none;
  float: left;
  width: 6vw;
  height: 3vw;
  margin: 1vw 1vw 0 0;
  font-size: 1vw;
  transition: 0.1s;
  margin-bottom: 5vw;
}
.nav button:hover {
  font-weight: bolder;
  font-size: 17px;
  transition: 0.1s;
  color: #004aad;
  text-decoration: underline;
}
.nav #phone {
  float: right;
  font-size: 1.5vw;
  color: #004aad;
  opacity: 0;
  width: 15vw;
  font-family: kanit;
  font-weight: 400;
}
.nav #phone:hover {
  color: #120a02;
}
.nav .logo {
  float: left;
  width: 14vw;
  height: 4vw;
  margin: 0.5vw 0 0 1vw;
  background-image: url("../images/Capture.png");
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
.banner {
  height: 30vw;
  width: 100%;
  background-image: url(../images/home_image1.jpg);
  background-position: center;
  background-size: cover;
  z-index: 3;
}

.overlay {
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 30vw;
  opacity: 0.2;
  width: 100%;
  z-index: 4;
}

.banner-info {
  background-color: rgb(232, 232, 232);
  height: 24vw;
  top: 3vw;
  right: 5vw;
  float: right;
  position: relative;
  z-index: 5;
  width: 35vw;
  border-radius: 1rem;
}

.starting-info {
  font-family: title;
  font-weight: bold;
  font-size: 2.5vw;
  text-align: center;
}

.slideshow {
  background-color: aliceblue;
  width: 50vw;
  height: 20vw;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 25vw;
}

.shell {
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: nav;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: navl;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/Kanit-MediumItalic.ttf);
}
.ab {
  width: 30rem;
  height: 10rem;
  border-radius: 2rem;
}

.txt {
  font-family: kanit;
  border-radius: 5rem;
}

.form {
  text-align: center;
}
.form button {
  margin-top: 2vw;
  font-family: kanit;
  width: 10vw;
  height: 3vw;
  border-radius: 2rem;
  margin-bottom: 5vw;
  transition: 0.1s;
}
.form button:hover {
  background-color: #004aad;
  color: rgb(232, 232, 232);
  transition: 0.1s;
  border: #004aad;
}

.txt_ {
  font-size: 1.2rem;
  font-family: kanit;
}

.wdth {
  margin-left: 25%;
  width: 50%;
}

.banner {
  height: 20vw;
  width: 100%;
  background-image: url(../images/photo-1541746972996-4e0b0f43e02a.avif);
  background-position: center;
  background-size: cover;
  padding-left: 15vw;
}
.banner p {
  font-size: 3.5vw;
  padding-top: 3vw;
  color: rgb(232, 232, 232);
  font-family: navbold;
  margin-bottom: 0;
}
.banner h6 {
  font-size: 1vw;
  color: rgb(232, 232, 232);
  font-family: navbold;
}

.why-apply {
  height: 12vw;
  width: 100%;
  background-color: rgb(243, 243, 243);
  margin-bottom: 5vw;
}
.why-apply p {
  font-size: 2vw;
  padding-top: 3vw;
  color: rgb(14, 14, 14);
  padding: 1vw 0 0 15vw;
  font-family: navbold;
}
.why-apply h6 {
  font-size: 1vw;
  color: rgb(14, 14, 14);
  padding: 0 15vw 0 15vw;
  font-family: nav;
}

::-webkit-scrollbar {
  width: 5px;
  background: rgb(232, 232, 232);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}/*# sourceMappingURL=styles.css.map */