$background: #120a02;
$primary: rgb(232, 232, 232);
$secondary: #231c76;
$tertiary: #004aad;
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: title;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: tommy;
    src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
    font-family: navbold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: nav;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: navl;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit-MediumItalic.ttf);
}
:root {
    /* COLORS  */
    /* primary */
    --primary-200: #E3F2FD ;
    --primary-300: #BBDEFB ;
    --primary-400: #90CAF9 ;
    /* main */
    --primary-500: #64B5F6;
    --primary-600: #42A5F5;
    --primary-700: #2196F3;
    --primary-800: #1E88E5 ;
    --primary-900: #1976D2 ;
    --primary-1000: #1565C0;
    --primary-1100: #0D47A1 ;
    /* grey */
    --grey-0: #fafbfc;
    --grey-50: #f2f4f8;
    --grey-100: #eaedf3;
    --grey-200: #e2e7ef;
    --grey-300: #dbe0ea;
    --grey-400: #d3dae6;
    --grey-500: #cbd3e1;
    --grey-600: #adb3bf;
    --grey-700: #8e949e;
    --grey-800: #70747c;
    --grey-900: #51545a;
    --grey-1000: #333538;
    --grey-1100: #141516;
    --grey-1200: #000000;

}
