@import "nav.scss";
@import "footer.scss";
*{
    font-family: tommy;
}
.wrapper{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .text{
        background-color: black;
        height: 25rem;
        width: 40rem;
    }
    .image{
        height: 25rem;
            width: fit-content;
            img{
                height: 25rem;
                    width: 25rem;
                    background-position: center;
            }
    }
}