@import "utils.scss";
@import "nav.scss";
@import "footer.scss";
body{
    background-color: #ffffff;
    overflow: hidden;
}
nav ul{
    box-shadow: none;
}
*{
    z-index: 0;
}
.nav{
    position: relative;
}
.container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.form {
    width: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: tommy;
    color: #333;
    font-weight: 600;
    margin: 0;
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 14px;
    font-family: tommy;
    color: #333;
}

h2 span {
    color: #117B48;
}

.input-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    height: 2rem;
}
.names{
    width: 10rem;
    height: 2rem;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
}

input{
    width: 21rem;
    height: 2rem;
    /* Adjust width for input fields */
    /* Adjust padding as needed */
    /* Add margin between inputs */
    background-color: #EFEFEF;
    border-radius: 1rem;
    border: none;
}
button {
    width: 21rem;
    height: 2rem;
    /* Adjust width for input fields */
    /* Adjust padding as needed */
    /* Add margin between inputs */
    background-color: #117B48;
    font-weight: 500;
    font-size: 14px;
    font-family: tommy;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
}
.tall{
    height: 10rem;
}

.image{
    margin-top: 4rem;
    width: 20rem;
    height: fit-content;
    background-color: #117B48;
    img {
        width: 20rem;
        }
}

@media only screen and (min-width: 515px) {
    .form{
        input{
            width: 26rem;
        }
        .names{
            width: 12.5rem;
        }
        button{
            width: 26rem;

        }
    }
}
@media only screen and (min-width: 700px) {
.image {
    margin-top: 0rem;
        width: 25rem;
        height: fit-content;
        background-color: #117B48;

        img {
            width: 25rem;
        }
    }
}
@media only screen and (min-width: 990px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .container {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 100vh;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .image {
        margin-top: 0;
        width: 35rem;
        height: fit-content;
        background-color: #117B48;

        img {
            width: 35rem;
        }
    }

}